<?xml version="1.0"?>
<configuration>
<connectionStrings>  
  <add name="HIS" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST=10.100.2.68)(PORT=1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME=hsoft)));Password=hsoft;User ID=hsoft" providerName="System.Data.OracleClient" />  
</connectionStrings>
</configuration>
